.collection-details {
	background: #02091b;
	width: 100%;
	min-height: 322px;
	margin-top: -120px;
	padding: 30px 80px 30px 170px;
	box-sizing: border-box;
	z-index: 10000;
}

.minh {
	min-height: 294px;
}

.nft-item {
	width: 170px;
	height: 212px;
	background: var(--primaryColor);
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	align-items: center;
	padding: 20px 0;
	cursor: pointer;

	.image {
		height: 100px;

		img {
			width: 100%;
			height: 100%;
			object-fit: scale-down;
		}
	}

	p {
		color: var(--whiteColor);
		padding: 10px 0 15px 0;
		font-size: 14px;
		font-weight: 500;
	}
}
