<section class="home-page h-100 flex ai-c jc-sb">
  <section class="text-section">
      <h1>Our solution has endless possibilities - from organizing personal life and household, to organizing and segmenting complex corporate business system.</h1>

    <app-button
      buttonTitle="Collections"
	  routerLink="/collections"
    ></app-button>
  </section>

  <section class="ntfs">
    <div class="nft small"></div>
    <div class="nft large"></div>
    <div class="nft medium"></div>
  </section>
</section>
