.tab-navigation {
  border-color: var(--placeholderColor) !important;

  .mat-tab-labels {
    // Tab link
    .mat-tab-label-content {
      color: var(--whiteColor);
      font-weight: 400;
      font-size: 1rem;
      height: 3.25rem !important;
    }
  }
}

// Line below active tab
.mat-ink-bar {
  background-color: var(--whiteColor) !important;
  height: 2.5px !important;
  border-radius: 8px;
}

.mat-tab-header {
  border-color: var(--placeholderColor) !important;
}

.mat-tab-header-pagination-chevron {
	border-color: var(--whiteColor) !important;
}

.mat-tab-body-content {
  padding-top: 20px;
  overflow: unset !important;
  height: unset !important;
}
