@use '@angular/material' as mat;

// Variables
@use './variables';

// Components
@use './components/mat-form-field';
@use './components/mat-label';
@use './components/mat-select';
@use './components/mat-checkbox';
@use './components/mat-dialog';
@use './components/mat-tab';
@use './components/mat-menu';
@use './components/mat-snackbar';

// Layout
@use './layout/helpers';

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@include mat.core();

// Typography
$hi-typography: mat.define-typography-config(
  $font-family: 'Raleway, sans-serif',
  $headline: mat.define-typography-level(26px, 20px, 500),
  $subheading-2: mat.define-typography-level(20px, 1.2, 500),
  $body-1: mat.define-typography-level(16px, 24px),
  $body-2: mat.define-typography-level(14px, 20px),
  $caption: mat.define-typography-level(12px, 20px)
);

// Set typography
@include mat.all-component-typographies($hi-typography);
